{% extends 'base.html.twig' %}

{% block title %}Blog | Dev{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
    <h1>Bienvenue dans mon blog !</h1>
        <div class="col-6">

        </div>
        <div class="col-6">

        </div>
    </div>
</div>
{% endblock %}
